<div class="asistencia">
  <br /><br />
  <div class="container">
    <div class="row align-items-center" style="height: 80vh">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="card border-0">
          <div>
            <div class="contenedor-botones">
              <div class="boton-regresar">
                <a href="">Regresar</a>
              </div>
              <div class="boton-cerrar-sesion">
                <a
                  class="white py-3"
                  routerLink="/catorcepantalla"
                  routerLinkActive="active"
                  ariaCurrentWhenActive="page"
                  (click)="clearSession()"
                  >Cerrar sesion</a
                >
              </div>
            </div>
            <div class="card-body">
              <h3 class="titulo-principal">Reunion Matutina</h3>
              <div class="contenedor-funcionalidades">
                <div class="fecha">
                  <span>19 de marzo</span>
                </div>
                <div class="conteo">
                  <span>10 / <b>120</b></span>
                </div>
                <div class="boton-añadir-usuario">
                  <a
                    class="white py-3"
                    routerLink="/quintapantalla"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                  >
                    <button
                      class="btn btn-outline-light border-dark"
                      style="color: black"
                    >
                      <i class="fa-solid fa-plus"></i
                      ><i class="fa-solid fa-user"></i>
                    </button>
                  </a>
                </div>
                <div class="boton-refrescar">
                  <button
                    class="btn btn-outline-light border-dark"
                    style="color: black"
                  >
                    <i class="fa-solid fa-arrows-rotate"></i> Refrescar
                  </button>
                </div>
              </div>
              <div class="buscador">
                <div class="input-group mt-2">
                  <input
                    type="text"
                    class="form-control input-buscador"
                    placeholder="Buscar..."
                  />
                  <div class="input-group-append">
                    <button class="btn lupa" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="mb-3 mt-3">
                <div class="overflow-auto" style="height: 350px">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <div class="form-check">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="check1"
                          name="option1"
                          value="something"
                        />
                        <label
                          class="form-check-label nombre-usuario"
                          for="check1"
                          >Ana Maria Gonzales Zepeda</label
                        >
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-check">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="check2"
                          name="option2"
                          value="something"
                        />
                        <label
                          class="form-check-label nombre-usuario"
                          for="check2"
                          >Ana Maria Gonzales Zepeda</label
                        >
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-check">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="check3"
                          name="option3"
                          value="something"
                        />
                        <label
                          class="form-check-label nombre-usuario"
                          for="check3"
                          >Ana Maria Gonzales Zepeda</label
                        >
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-check">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="check4"
                          name="option4"
                          value="something"
                        />
                        <label
                          class="form-check-label nombre-usuario"
                          for="check4"
                          >Ana Maria Gonzales Zepeda</label
                        >
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-check">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="check5"
                          name="option5"
                          value="something"
                        />
                        <label
                          class="form-check-label nombre-usuario"
                          for="check5"
                          >Ana Maria Gonzales Zepeda</label
                        >
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-check">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="check6"
                          name="option6"
                          value="something"
                        />
                        <label
                          class="form-check-label nombre-usuario"
                          for="check6"
                          >Ana Maria Gonzales Zepeda</label
                        >
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-check">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="check7"
                          name="option7"
                          value="something"
                        />
                        <label
                          class="form-check-label nombre-usuario"
                          for="check7"
                          >Ana Maria Gonzales Zepeda</label
                        >
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-check">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="check8"
                          name="option8"
                          value="something"
                        />
                        <label
                          class="form-check-label nombre-usuario"
                          for="check8"
                          >Ana Maria Gonzales Zepeda</label
                        >
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-check">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="check9"
                          name="option9"
                          value="something"
                        />
                        <label
                          class="form-check-label nombre-usuario"
                          for="check9"
                          >Ana Maria Gonzales Zepeda</label
                        >
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-check">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="check10"
                          name="option10"
                          value="something"
                        />
                        <label
                          class="form-check-label nombre-usuario"
                          for="check10"
                          >Ana Maria Gonzales Zepeda</label
                        >
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-check">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="check11"
                          name="option11"
                          value="something"
                        />
                        <label
                          class="form-check-label nombre-usuario"
                          for="check11"
                          >Ana Maria Gonzales Zepeda</label
                        >
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-check">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="check12"
                          name="option12"
                          value="something"
                        />
                        <label
                          class="form-check-label nombre-usuario"
                          for="check12"
                          >Ana Maria Gonzales Zepeda</label
                        >
                      </div>
                    </li>
                    <li class="list-group-item">
                      <div class="form-check">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="check13"
                          name="option13"
                          value="something"
                        />
                        <label
                          class="form-check-label nombre-usuario"
                          for="check13"
                          >Ana Maria Gonzales Zepeda</label
                        >
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <br /><br />
</div>

<!-- <p>asistencia works!</p>
<table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Asistencia</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of personas">
        <td>{{ persona.nombre }}</td>
        <td><input type="checkbox" [(ngModel)]="persona.asistio"></td>
      </tr>
    </tbody>
  </table>
  <button (click)="registrarAsistencia()">Registrar la Asistencia del dia de hoy</button>
  <p *ngIf="asistenciaRegistrada">Asistencia registrada exitosamente</p> -->
