.titulo-principal {
  text-align: center;
  color: #000;
  font-size: 40px;
}

.texto-instructivo {
  text-align: center;
  color: #807e7e;
}

.contenido-reunion {
  text-align: center;
}
.contenido-reunion h2 {
  color: #000;
}

.contenido-reunion span {
  color: #b0afaf;
  font-size: 20px;
}

.div-reunion-reportes {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f2f2f2;
  /* color: rgba(128, 126, 126, 0.6); */
  border-radius: 10px;
}

.div-crud {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #22296a;
  color: #f2f2f2;
  border-radius: 10px;
}

.boton-cerrar-sesion {
  text-align: right;
  text-decoration: none;
  color: #000;
}

.boton-cerrar-sesion a {
  text-decoration: none;
  color: #000;
}
