<form>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB3nS396Ie2YRgkAbLob612mCJ3OLTEpOkhg&usqp=CAU" alt="">
  <label>Hola, por favor registre sus datos</label>
    <label>
      primer Nombre:
      <input type="text" name="primerNombre" [(ngModel)]="primerNombre">
    </label>

    <label>
        segundo Nombre:
        <input type="text" name="segundoNombre" [(ngModel)]="segundoNombre">
      </label>

      <label>
        primer apellido:
        <input type="text" name="primerApellido" [(ngModel)]="primerApellido">
      </label>

      <label>
        segundo apellido:
        <input type="text" name="segundoApellido" [(ngModel)]="segundoApellido">
      </label>
  
    <label>
      Correo electrónico:
      <input type="email" name="email" [(ngModel)]="email">
    </label>
  
    <label>
      Contraseña:
      <input type="password" name="password" [(ngModel)]="password">
    </label>
    <a class="white py-3" routerLink="/cuartapantalla"
    routerLinkActive="active" ariaCurrentWhenActive="page">
      <button (click)="registrarse('Jani','Graciela','flores', 'Lama', 'janflores', 'janis@gmail.com', 'royale')">Registrarse</button>
    </a>
    
  </form>