<form>
    <label>
      primer Nombre:
      <input type="text" name="primerNombre" [(ngModel)]="primerNombre">
    </label>

    <label>
        segundo Nombre:
        <input type="text" name="segundoNombre" [(ngModel)]="segundoNombre">
      </label>

      <label>
        primer apellido:
        <input type="text" name="primerApellido" [(ngModel)]="primerApellido">
      </label>

      <label>
        segundo apellido:
        <input type="text" name="segundoApellido" [(ngModel)]="segundoApellido">
      </label>
  
    <label>
      Correo electrónico:
      <input type="email" name="email" [(ngModel)]="email">
    </label>
  
    <label>
      Contraseña:
      <input type="password" name="password" [(ngModel)]="password">
    </label>
  
    <button (click)="registrarse('Jani','Graciela','flores', 'Lama', 'janflores', 'janis@gmail.com', 'royale')">Registrarse</button>
  </form>