<div class="reuniones">
  <br /><br />
  <div class="container">
    <div class="row align-items-center" style="height: 80vh">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="card border-0">
          <div>
            <div class="boton-cerrar-sesion">
              <a class="white py-3" routerLink="/catorcepantalla"
              routerLinkActive="active" ariaCurrentWhenActive="page" (click)="clearSession()">Cerrar sesion</a>
            </div>
            <div class="card-body">
              <h3 class="titulo-principal">Asistencias</h3>
              <div class="texto-instructivo">
                <p>A continuación acceda a las reuniones del 19 de marzo</p>
              </div>
              <div class="mb-3 mt-3">
                <div class="card border-0 div-reunion">
                  <div class="contenido-reunion">
                    <h2>Mañana</h2>
                    <a class="white py-3" routerLink="/cuartapantalla"
                    routerLinkActive="active" ariaCurrentWhenActive="page">
                      <ul>
                        <li *ngFor="let meeting of meetings | morning">
                          la {{ meeting.nombre }} dara inicio a la hora {{ meeting.inicio }}
                        </li>
                      </ul>
                      <span>70 de 120 asistentes</span>
                    </a>
                  </div>
                </div>
              </div>
              <div class="mb-3 mt-3">
                <div class="card border-0 div-reunion">
                  <div class="contenido-reunion">
                    <h2>Tarde</h2>
                    <a class="white py-3" routerLink="/octavapantalla"
                    routerLinkActive="active" ariaCurrentWhenActive="page">
                      <ul>
                        <li *ngFor="let meeting of meetings | afternoon">
                          la {{ meeting.nombre }} dara inicio a la hora {{ meeting.inicio }}
                        </li>
                      </ul>
                      <span>0 de 120 asistentes</span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <br /><br />
</div>

<!-- <p>reuniones works!</p> -->
<!-- Mostrar la lista de usuarios -->
<!-- <ul>
  <li *ngFor="let meeting of meetings">
    {{ meeting.nombre }} ({{ meeting.lider }})
    <button (click)="editarReunion(meeting)">Editar</button>
    <button (click)="borrarReunion(meeting)">Borrar</button>
  </li>
</ul> -->

<!-- Formulario para crear o actualizar usuarios -->


<!-- <div class="container">
  <h2>Reuniones</h2>
  <div class="row">
    <a href="">
      <div class="col-md-6">
        <h3>Mañana</h3>
        <ul>
          <li *ngFor="let meeting of meetings | morning">
            la {{ meeting.nombre }} dara inicio a la hora {{ meeting.inicio }}
          </li>
        </ul>
      </div>
    </a>
    <div class="col-md-6">
      <h3>Tarde</h3>
      <ul>
        <li *ngFor="let meeting of meetings | afternoon">
          la {{ meeting.nombre }} dara inicio a la hora {{ meeting.inicio }}
        </li>
      </ul>
    </div>
  </div>
</div> -->
