<p>login usuario works</p>
<form>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRB3nS396Ie2YRgkAbLob612mCJ3OLTEpOkhg&usqp=CAU" alt="">
    <label>Hola Usuario, por favor ingrese sus datos</label>
    <label>
      Correo electrónico:
      <input type="email" name="email" ngModel required>
    </label>
  
    <label>
      Contraseña:
      <input type="password" name="password" ngModel required>
    </label>
  
    <button (click)="iniciarSesion('janiflores@gmail.com', 'royale')">Iniciar sesión</button>
  </form>
