<div class="asistencia">
  <br /><br />
  <div class="container">
    <div class="row align-items-center" style="height: 80vh">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <div class="card border-0">
          <div>
            <div class="contenedor-botones">
              <div class="boton-regresar">
                <a href="" (click)="goBack()">Regresar</a>
              </div>
              <div class="boton-cerrar-sesion">
                <a class="white py-3" routerLink="/catorcepantalla"
                routerLinkActive="active" ariaCurrentWhenActive="page" (click)="clearSession()">Cerrar sesion</a>
              </div>
            </div>
            <div class="card-body">
              <h3 class="titulo-principal">Reunion Matutina</h3>
              <div class="mb-3 mt-3">
                <h5 class="subtitulo">Personas Faltantes</h5>
                <div class="overflow-auto" style="height: 175px">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let reporte of reportes | faltante">
                      {{reporte.nombre}} 
                  </ul>
                </div>
                <br />
                <h5 class="subtitulo">Personas Nuevas</h5>
                <div class="overflow-auto" style="height: 175px">
                  <ul class="list-group">
                    <li class="list-group-item" *ngFor="let reporte of reportes | nueva">
                      {{reporte.nombre}} 
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <br /><br />
</div>
